        <!-- SLI footer starts -->
        <div class="width-limiter">
            <h3 class="main-footer__logo main-footer__logo--upper"><img src="/img/485668.png" alt="Pão de Açúcar"></h3>
            <div class="main-footer__row">
                <div class="main-footer__nav main-footer__nav--narrow inline--top">
                    <h4 class="heading">Produtos</h4>
                    <ul class="items reset--list">
                        <li class="item"><a href="http://www.paodeacucar.com/ofertas" title="Ofertas" class="link">Ofertas</a></li>
                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--narrow inline--top">
                    <h4 class="heading">Programa Mais</h4>
                    <ul class="items reset--list">
                        <li class="item"><a href="https://www.paodeacucarmais.com.br/" target="_blank" title="Conheça o Programa" class="link">Conheça o Programa</a></li>
                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--narrow inline--top">
                    <h4 class="heading">Cartões Pão de Açúcar</h4>
                    <ul class="items reset--list">
                        <li class="item"><a href="http://www.paodeacucar.com/" title="Peça Já o Seu" class="link">Peça Já o Seu</a></li>
                        <li class="item"><a href="http://www.paodeacucar.com/" title="Benefícios" class="link">Benefícios</a></li>
                        <li class="item"><a href="http://www.paodeacucar.com/cartoes" title="Cartões" class="link">Cartões</a></li>
                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--narrow inline--top">
                    <h4 class="heading">Institucional</h4>
                    <ul class="items reset--list">
                        <li class="item"><a href="http://www.paodeacucar.com/institucional" title="Quem Somos" class="link">Quem Somos</a></li>
                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--narrow inline--top">
                    <h4 class="heading">Lojas</h4>
                    <ul class="items reset--list">
                        <li class="item"><a href="http://www.paodeacucar.com/localizador" title="Encontre uma Loja" class="link">Encontre uma Loja</a></li>
                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--narrow inline--top">
                    <h4 class="heading">Ajuda e Suporte</h4>
                    <ul class="items reset--list">
                        <li class="item"><a href="http://www.paodeacucar.com/faleConosco" title="Fale Conosco" class="link">Fale Conosco</a></li>
                        <li class="item"><a href="https://multivarejomultivarejocdt.elancers.net/frames/gpa/multivarejo/multivarejo/frame_geral.asp" title="Fale Conosco" class="link" target="_blank">Trabalhe Conosco</a></li>
                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--narrow inline--top">
                    <h4 class="heading">Como Funciona</h4>
                    <ul class="items reset--list">
                        <li class="item"><a href="http://www.paodeacucar.com/formasPagamento" title="Formas de Pagamento" class="link">Formas de Pagamento</a></li>
                        <li class="item"><a href="https://chk.paodeacucar.com/address/showcaseDelivery" title="Entrega" class="link">Entrega</a></li>
                        <li class="item"><a href="http://www.paodeacucar.com/#" id="privacyPolicyLink" title="Politica de Privacidade" class="link">Politica de Privacidade</a></li>
                        <li class="item"><a href="http://www.paodeacucar.com/#" id="exchangesAndReturns" class="exchangesAndReturns link" title="Trocas e Devoluções">Trocas e Devoluções</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-footer__row">
                <div class="main-footer__nav main-footer__nav--inline">
                    <h4 class="heading">Formas de Pagamento</h4>
                    <dl class="sub-group inline--top">
                        <dt class="sub-heading">Cartões de Crédito</dt>
                        <dd class="sub-item main-sprite main-sprite--icon-cards-other"></dd>
                    </dl>
                    <dl class="sub-group inline--top">
                        <dt class="sub-heading">Vale Alimentação</dt>
                        <dd class="sub-item main-sprite main-sprite--icon-payment-options-other"></dd>
                    </dl>
                    <dl class="sub-group inline--top">
                        <dt class="sub-heading">Outras Formas de Pagamento</dt>
                        <dd class="sub-item main-sprite main-sprite--icon-gpa-cards"></dd>
                    </dl>
                </div>
            </div>
            <div class="main-footer__row">
                <div class="main-footer__nav main-footer__nav--inline inline--top">
                    <h4 class="heading">Formas de Entrega</h4>
                    <dl class="sub-group inline--top sub-group--center">
                        <dt class="sub-heading">Tradicional</dt>
                        <dd class="sub-item main-sprite main-sprite--icon-delivery-traditional"></dd>
                    </dl>
                    <dl class="sub-group inline--top sub-group--center">
                        <dt class="sub-heading">Express</dt>
                        <dd class="sub-item main-sprite main-sprite--icon-delivery-express"></dd>
                    </dl>
                    <dl class="sub-group inline--top sub-group--center">
                        <dt class="sub-heading">Clique e Retire</dt>
                        <dd class="sub-item main-sprite main-sprite--icon-delivery-drive-thru"></dd>
                    </dl>
                </div>
                <div class="main-footer__nav main-footer__nav--inline inline--top">
                    <h4 class="heading heading--spacer">Nossas Redes</h4>
                    <ul class="items reset--list">
                        <li class="item item--icon"><a href="https://www.facebook.com/paodeacucar" title="Facebook" class="link hide-text main-sprite main-sprite--icon-facebook">Facebook</a></li>
                        <li class="item item--icon"><a href="https://twitter.com/paodeacucar" title="Twitter" class="link hide-text main-sprite main-sprite--icon-twitter">Twitter</a></li>
                        <li class="item item--icon"><a href="https://www.youtube.com/user/videosPaodeAcucar" title="YouTube" class="link hide-text main-sprite main-sprite--icon-youtube">YouTube</a></li>
                        <!--<li class="item item--icon"><a href="http://www.paodeacucarsustentavel.com/internas/blog/" title="Blog" class="link hide-text main-sprite main-sprite--icon-blog-a">Blog</a></li>-->
                        <!--<li class="item item--icon"><a href="/" title="Blog" class="link hide-text main-sprite main-sprite--icon-blog-b">Blog</a></li>-->
                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--inline inline--top">
                    <h4 class="heading heading--spacer">Certificados e Garantias</h4>
                    <ul class="items reset--list">
                        <li class="item item--icon">
                            <a href="https://seals.trustsign.com.br/certificate.php?id=59&amp;site=chk.paodeacucar.com.br&amp;lang=pt" target="_blank">
                                <img name="trustseal" alt="Site Autêntico" src="/img/518978.png" border="0" title="Clique para Validar">
                            </a>
                        </li>
                        <li class="item item--icon">
                            <a id="seloEbit" href="http://www.ebit.com.br/pao-de-acucar-delivery/selo" target="_blank" title="Avaliado pelos consumidores" oncontextmenu="alert(&quot;Cópia proibida ! A certificação e-bit é de uso exclusivo de lojas conveniadas à e-bit.&quot;);return false;" value="1" style="display: block; overflow: hidden; position: relative;"><img src="/img/img_904.png" style="border: 0px;"><script src="/img/saved_resource" async="true"></script></a>
                        </li>
                        <li class="item item--icon"><img src="/img/485696.gif"></li>

                        <li class="item item--icon">
                            <a target="_blank" title="Nota Fiscal Paulista - Ganhe Créditos. Conheceça o projeto." href="http://www.fazenda.sp.gov.br/">
                                <img src="/img/485697.png">
                            </a>
                        </li>


                    </ul>
                </div>
                <div class="main-footer__nav main-footer__nav--inline inline--top">
                    <h4 class="heading heading--spacer">Versão Mobile</h4>
                    <ul class="items reset--list">
                        <li class="item item--icon"><a href="http://m.paodeacucar.com/" )}"="" title="Mobile" class="link hide-text main-sprite main-sprite--icon-mobile">Mobile</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-footer__row">
                <div class="main-footer__nav main-footer__nav--inline">
                    <h4 class="heading">Atendimento</h4>
                    <ul class="items reset--list">
                        <li class="item"><span class="link"><span class="em">São Paulo</span>(11) 3055-6767</span></li>
                        <li class="item"><span class="link"><span class="em">Demais localidades</span>4004-6070</span></li>
                    </ul>
                </div>
            </div>
            <div class="main-footer__row">
                <p class="legal">Valor total de sua compra poderá ser alterado (para maior ou menor) por conta dos produtos de peso variável.</p>
                <p class="legal">Garantimos a quantidade mínima de 12 unidades de cada produto, ou até o fim do estoque. Para melhor atender nossos clientes, não vendemos por atacado e reservamo-nos o direito de limitar a 12 unidades, por cliente, a quantidade dos produtos anunciados. Preços, ofertas e condições exclusivos para internet e válidos durante o dia de hoje, podendo sofrer alterações sem prévia notificação. As "ofertas Mais" são exclusivas para cliente Mais.</p>
                <p class="legal">Proibida a venda de bebidas alcoólicas para menores de idade, conforme Lei n.° 8069/90, art. 81, inciso II (Estatuto da Criança e do Adolescente).</p>
                <p class="legal legal--banner">A venda e o consumo de bebidas alcoólicas são proibidos para menores de 18 anos.<br>Bebida alcoólica pode causar dependência química e, em excesso, provoca graves males à saúde.<br>Beba com moderação</p>
                <p class="legal legal--large"><strong>Venda sujeita à disponibilidade de estoque no dia da entrega. No caso de faltar algum produto, este não será entregue e o valor correspondente não será cobrado.</strong></p>
                <p class="legal">Cia. Brasileira de Distribuição / CNPJ: 047508411/0001-56 / Av. Brigadeiro Luís Antônio, 3142, CEP: 01402-901 - São Paulo - SP / www.paodeacucar.com.br / Para falar conosco, <a href="http://www.paodeacucar.com.br/faleConosco/formDelivery">clique aqui</a>.</p>
                <p class="legal">Os pedidos feitos no Pão de Açúcar Delivery são entregues por lojas físicas de acordo com a região de entrega escolhida e informada no momento da compra. Acesse a lista de lojas&nbsp;<a href="http://www.paodeacucar.com/lojas" target="_blank">aqui</a>.</p>
            </div>
            <h3 class="main-footer__logo"><img src="/img/485669.png" alt="Grupo Pão de Açúcar"></h3>
            <div class="main-footer__partners">
                <ul class="items reset--list">
                    <li class="item inline--middle"><a href="http://www.paodeacucar.com/#" title="ECAD Direitos Autorais" class="link"><span class="label inline--middle">ECAD Direitos Autorais</span></a></li>
                    <li class="item inline--middle"><a href="http://www.e-plataforma.com.br/" title="Powered by E-Plataforma" class="link"><span class="label inline--middle">Powered by</span><img src="/img/485670.png" alt="Powered by E-Plataforma" class="logo inline--middle"></a></li>
                    <!--<li class="item inline--middle">
                    <a href="http://www.uoldiveo.com.br/institucional/dhc-outsourcing.html" title="Hosted by DHC" class="link">
                    <span class="label inline--middle">Hosted by</span>
                      <img src="/img/uploads/1/665/485665.png" alt="Hospedado por UOL DIVEO" class="logoDHC logo inline--middle">
                    </a>
                  </li>-->
                </ul>
            </div>
        </div>
        <!-- SLI footer ends -->