    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script async="" src="/img/fbevents.js"></script><script type="text/javascript" async="" src="/img/conversion_async.js"></script><script type="text/javascript" async="" src="/img/analytics.js"></script><script type="text/javascript" async="" src="/img/platform.js" gapi_processed="true"></script><script id="twitter-wjs" src="/img/widgets.js"></script><script id="facebook-jssdk" src="/img/all.js"></script><script charset="UTF-8" async="true" src="/img/neemu.min.js"></script>    
     <script async="" type="text/javascript" src="/img/gpt.js"></script><script async="" src="/js/gtm.js"></script><script>   window.chaordic_meta=  {"page":{"name":"home","timestamp":"Dec 9, 2016 8:15:54 PM"}}      </script> <script async="" defer="" src="/img/loader.js" data-apikey="paodeacucar"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <link rel="icon" type="image/png" href="http://www.paodeacucar.com/img/uploads/1/675/485675.ico">
    <link rel="alternate" id="mobileUrl" media="only screen and (max-width: 640px)" href="http://m.paodeacucar.com/">

    
    <title>Pão de Açúcar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="ALL">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="5S_uv7Rk_QYZfVCd_fsPvPYI-OWCoC6S1TrSG7oG46U">
    <script>
        var GPA = window.GPA || {};

        var basketUrl = "https://chk.paodeacucar.com";
        var basketUrlSecure = "https://chk.paodeacucar.com";
        var catalogUrl = "http://www.paodeacucar.com";
        var domainCookie = ".paodeacucar.com";
        var searchUrl = "//busca.paodeacucar.com/search";
        var applicationId = "364412980347613";
        var bannerAdminEditURL = "http://admin.paodeacucar.com/ePlataformaAdmin/banner/edit/";
        var sociomanticToken = "paodeacucar-br";
        var urlLogBannerAccess = "//www.paodeacucar.com/logBannerAccess";
        var catalogServicesUrl = "/catalog_alt";
    </script>
    <script type="text/javascript" src="/js/485563.js"></script>