<!DOCTYPE html>
<!-- saved from url=(0266)https://chk.paodeacucar.com/basket/addProduct?savingNewStore=null&jsonp=true&updateMiniCart=true&callback=addProductReturn&shelfName=Panettones&_=1481321774182&quantity=1&callbackName=addProductReturn&productId=354905&isAjax=false&controllerName=basket&redirect=true -->
<html class=" js rgba cssgradients">
<head>
    <% include ../partials/head.ejs %>

    <link rel="stylesheet" href="/css/485505.css">
</head>

<body id="pag-basketHome" style="position: relative; height: auto; min-height: 100%;" data-twttr-rendered="true" class="catalog solveRequest store_id_81 basket addProduct">


    <script type="text/javascript">
     var gptAdSlots = [];
                    googletag.cmd.push(function() {
                        gptAdSlots[0] = googletag.defineSlot('/377314031/paodeacucar/natal/panettones/produto', [300, 250], 'ads_retangulo1').addService(googletag.pubads());
                        gptAdSlots[1] = googletag.defineSlot('/377314031/paodeacucar/natal/panettones/produto', [300, 250], 'ads_retangulo2').addService(googletag.pubads());
                        googletag.pubads().enableSingleRequest();googletag.pubads().collapseEmptyDivs();googletag.enableServices();
                    });
</script>

<div class="main-wrapper">

    <!-- Header novo -->    

<header class="main-header nhgpa_full">
    <% include ../partials/header.ejs %>
</header>
<main class="main-content basket-content">
<!-- Header novo -->
<div id="basketCenter" class="evtDrop width-limiter">

  

<!-- Tag for Activity Group: PAD - 2012, Activity: Shopping Cart, Type: Page Views, Code: JavaScript -->

<!-- Start of DoubleClick Spotlight Tag: Please do not remove-->
<!-- Activity name for this tag is:Shopping Cart -->
<!-- Web site URL where tag should be placed:  -->
<!-- Creation Date:10/31/2012 -->
<script language="JavaScript">
    var axel = Math.random()+"";
    var a = axel * 10000000000000;
    document.write('<IMG SRC="//ad.doubleclick.net/activity;src=3739108;type=PAD2012;cat=Cart;ord='+ a + '?" WIDTH=1 HEIGHT=1 BORDER=0>');
</script><img src="https://ad.doubleclick.net/activity;src=3739108;type=PAD2012;cat=Cart;ord=4357330012123.1396?" width="1" height="1" border="0">
<noscript>
    &lt;IMG SRC="//ad.doubleclick.net/activity;src=3739108;type=PAD2012;cat=Cart;ord=1?" WIDTH=1 HEIGHT=1 BORDER=0&gt;
</noscript>
<!-- End of DoubleClick Spotlight Tag: Please do not remove-->


<script type="text/javascript">


    var urlBasketChangeQuantityProduct = 'https://chk.paodeacucar.com/basket/changeQuantityProduct';
    var urlBasketRemoveProduct = 'https://chk.paodeacucar.com/basket/removeProduct';
    var urlBasketChangeZipCode = 'https://chk.paodeacucar.com/basket/changeZipCode';
    var urlBasketEmptybasket = 'https://chk.paodeacucar.com/basket/emptyBasket';
    var urlBasketSaveBasketInShoppingList = 'https://chk.paodeacucar.com/basket/saveBasketInShoppingList';
    var urlBasketAddCoupon = 'https://chk.paodeacucar.com/basket/addCoupon';
    var basketIsTelemarketing = 'false';
    var basketHasUser = 'true';
    var urlPrintBasketList = 'https://chk.paodeacucar.com/basket/printBasketList';
    var urlUpdateBasket = 'https://chk.paodeacucar.com/basket/updateAllBasket';
    var urlSortBasket = 'https://chk.paodeacucar.com/basket/sortBasket';
    var urlBasketAcceptSimilarProduct = 'https://chk.paodeacucar.com/basket/acceptSimilarProduct';
    var urlBuyProductFromToLaterBasket = 'https://chk.paodeacucar.com/basket/addProduct';


    function checkoutFunction(){

        $('#basketForm').attr('action', urlUpdateBasket);

         //Adicionando dois parametros no request, o checkout e o comment
         if(!$('#field-info').is(":checked")){
            $('#basketComment').val('');
         }

         $('#checkoutBasketForm').val('true');

         //Submeterá para
         $("#basketForm").submit();

    }


    function createList(message) {
        if($("#listNameId").val()){
          $("#formCreateList").submit();
        }else{
          ep.message.showErrorMessage(message);
          //$("#listCreatedMessage").replaceWith('<div style="color: red; font-weight: bold;">'+ message +'</div>');
        }

    }

    function addCoupon(){
        var coupon = $("#basketCoupon").val();
        $.ajax({
            url:  urlBasketAddCoupon + "?coupon=" + coupon,
            success: function(data) {
                updateStoreProduct(data);
                //ep.message.showSuccessMessage("Cupom adicionado com sucesso.");
            }
        });
    }


    $(function() {


         $("#basketCenter").on('blur', '.quantityListener' , function(e) {
            var prodBasketId = $(this).attr("id").split("quantity_")[1];
            var value = $(this).val();
            changeProductQuantity(prodBasketId, value);
            return false;
        });

        $("#toLaterBasketContainer").on('click', '.addProductFromToLaterBasket', addProductFromToLaterBasket);

        $("#basketCenter").on('click', '.reloadListener', function() {
            var valueId = $(this).attr("id").split("reloadQuantity_")[1];
            var input = $('#quantity_' + valueId);
            var prodBasketId = valueId;
            var value = input.val();
            changeProductQuantity(prodBasketId, value);
            return false;
        });

        $("#basketCenter").on('click', '.removeListener', function(e){removeProduct(e, $(this))});

        //action de frete
        $("#basketCenter").on('click', '#changeZipCode' ,function() {
            var zipCode = $("#addressZipCode").val();
            $.ajax({
                url: urlBasketChangeZipCode+"?zipCode=" + zipCode,
                success: function(data) {
                    updateStoreProduct(data);
                }
            });
        });

        $("#basketCenter" ).on('click', '#emptyBasket', function(e) {

            var resp = confirm("Deseja realmente limpar todo o seu carrinho?");

            if (!resp) {
                e.preventDefault();
                return false;
            }

        });

        $("#basketCenter").on('change', '#sortBasket' ,function(){
            $.ajax({
                url: urlSortBasket+"?sort=" + $("#sortBasket option:selected").val(),
                success: function(data) {
                    updateStoreProduct(data);
                }
            });
        });

        $("#basketCenter").on('click', '#createListBasket' , function() {
            var id = $("#basketExisting").val();
            $.ajax({
                url: urlBasketSaveBasketInShoppingList + "?id=" + id,
                success: function(data) {
                    updateStoreProduct(data);
                    ep.message.showSuccessMessage("Carrinho salvo com sucesso.");
                }
            });

        });



        $("#basketCoupon").keydown(function (e){
            if(e.keyCode == 13){
            e.preventDefault();
                addCoupon();
                return false;
            }
        });


        $("#basketCenter").on('click', '#addCoupon', function() {
            addCoupon();
        });

        $("#basketCenter").on('click', "#doCheckout", function(event) {
            event.preventDefault();

            showOverlayWithLoading();

            checkoutFunction();
        });

        $("#basketCenter").on('click', "#elemFinalizarCompra a" ,function(event) {

            event.preventDefault();

            checkoutFunction();

        });

        $("#basketCenter").on('click', '#confirmBtnList' , function(e) {
            e.preventDefault();
            createList('Informe o nome da lista a ser criada.');
        });

        $("#basketCenter").on('click', '.updateAllBasket', updateAllBasketInfos);

        $("#basketCenter").on('click', '#markRemoveAll', function() {

            $('.deleteItem').prop('checked', $('#markRemoveAll').is(':checked'));

        });

        $("#basketCenter").on('click', '#markSimilarAll', function() {

            $('.similarItem').prop('checked', $('#markSimilarAll').is(':checked'));

        });



        $("#basketCenter").on("click", '.similarItem', function(e){

            var prodOnBasketId = $(this).closest('tr').attr('id').split('_')[1]
            var value = false;

            if($(this).is(':checked')){
                value = true;
            }

            var ret = acceptSimilarProduct(prodOnBasketId, value, $('.similarItem'));

        });

        $("#basketCenter").on("click", '.inc', function(e){
            var parent = $(this).parent().find('input');
            qtdChanger(true , parent); e.preventDefault();
            var prodBasketId = parent.attr("id").split("quantity_")[1];
            var value = parent.val();
            changeProductQuantity(prodBasketId, value);
            return false;
        });

        $("#basketCenter").on("click", '.dec', function(e){
            var parent = $(this).parent().find('input');
            qtdChanger(false ,$(this).parent().find('input')); e.preventDefault();
            var prodBasketId = parent.attr("id").split("quantity_")[1];
            var value = parent.val();
            changeProductQuantity(prodBasketId, value);
            return false;
        });


        $(".quantityListener").setMask({mask:"99999999"});
        $("#addressZipCode").setMask({mask:"99999-999"});

    });


</script>


<!-- Chaordic TOP -->
<div chaordic="top"></div>




<nav class="breadcrumbs group">
    <ul class="breadcrumbs__items reset--list">
        <li class="breadcrumbs__item icon icon--angle-right inline--middle"><a href="http://www.paodeacucar.com/" title="Home" class="breadcrumbs__label">Home</a>
        </li>

        <li class="breadcrumbs__item icon icon--angle-right inline--middle">

            
                <span class="breadcrumbs__label breadcrumbs__label--current">Carrinho de compras</span>
            

        </li>

        

    </ul>


    <ul class="breadcrumbs__steps reset--list">

        
            <li class="item inline--middle">

                
                    <span data-step="1" class="label active">Carrinho</span>
                

            </li>
        
            <li class="item inline--middle">

                
                    <span data-step="2" class="label ">Endereço</span>
                

            </li>
        
            <li class="item inline--middle">

                
                    <span data-step="3" class="label ">Entrega</span>
                

            </li>
        
            <li class="item inline--middle">

                
                    <span data-step="4" class="label ">Pagamento</span>
                

            </li>
        
            <li class="item inline--middle">

                
                    <span data-step="5" class="label ">Conclusão</span>
                

            </li>
        

    </ul>
</nav>


    <header class="view-header view-header--margin-top view-header--no-border">
        <h1 class="view-header__heading">Carrinho de Compras</h1>
        <p class="view-header__description">Confira os ítens da sua lista de compras e se estiver tudo certo, finalize sua compra. É <em>prático</em>, <em>rápido</em> e <em>fácil</em>.</p>
    </header>


    

        <div class="checkout-controls group">
            <a href="/" title="Voltar às compras" class="button button-pill button-pill--green checkout-controls__left">Voltar às compras</a>

            <div class="checkout-controls__right">

                <a onclick="limparCarrinho();" title="Esvaziar carrinho" class="button button-pill button-pill--green " id="emptyBasket">Esvaziar carrinho</a>

                <a href="https://chk.paodeacucar.com/basket/addProduct?savingNewStore=null&amp;jsonp=true&amp;updateMiniCart=true&amp;callback=addProductReturn&amp;shelfName=Panettones&amp;_=1481321774182&amp;quantity=1&amp;callbackName=addProductReturn&amp;productId=354905&amp;isAjax=false&amp;controllerName=basket&amp;redirect=true#" onclick="window.print()" title="Imprimir" class="button button-pill button-pill--green " id="printBasket">Imprimir</a>

                
            </div>
        </div>
    


<div id="produtos-no-carrinho">
</div>

 





<script type="text/javascript">
    var basket = {
        products: [
            
            { identifier: '9902199', amount: 79.84, currency: 'BRL', quantity: 1 } 
            

        ]
    };
</script>


<!-- Facebook Conversion Code for Carrinho - Pão de Açúcar -->
<script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
})();
window._fbq = window._fbq || [];



</script>







<script type="text/javascript">

    var quantityEquals = false;
    var exceeded = '';
    var hasMessage = $(".inputHiddenCheckout #hasMessage").val();
    var callFromChangeQuantityProduct = $(".inputHiddenCheckout #callFromChangeQuantityProduct").val();

    if( hasMessage != "true" && callFromChangeQuantityProduct == "true" && !exceeded){
        ep.message.showSuccessMessage("Quantidade de produtos alterada com sucesso.");
    }

    $('#basketComment').keyup(function(){

        var max = parseInt($(this).attr('maxlength'));

        if($(this).val().length > max){
            $(this).val($(this).val().substr(0, $(this).attr('maxlength')));
        }

        $(this).parent().parent().find('.charsRemaining').html((max - $(this).val().length) + ' caracteres restantes.');

    });

</script>

<!-- Chaordic MIDDLE -->
<div chaordic="middle"></div>





<!-- Chaordic BOTTOM -->
<div chaordic="bottom"></div>








  <script type="text/javascript">

    var jQuery = $;
    var homeLink = "https://chk.paodeacucar.com";
    var searchUserLink = "https://chk.paodeacucar.com/basket/searchUser";
    var urlWithoutPermission = "https://chk.paodeacucar.com/login/login";
    var addPhoneUrl = "https://chk.paodeacucar.com/customer/getTemplatePhone";
    var basketTotalCookieName = "basket_total_price_";
    var lastProductQtdCookieName = "last_product_quantity_";
    var lastProductNameCookieName = "last_product_name_";

    var urlBasketValidateField = 'https://chk.paodeacucar.com/login/validateField';
    var urlBasketValidateAllFields = 'https://chk.paodeacucar.com/login/validateAllFields';
    var arrayRequiredMessage = new Array();
    arrayRequiredMessage['email'] =  'Informe um e-mail válido';
    arrayRequiredMessage['cell'] =  'Informe um telefone celular';
    arrayRequiredMessage['phone_home'] =  'Informe um telefone fixo';
    arrayRequiredMessage['neighborhood'] =  'Informe o Bairro';
    arrayRequiredMessage['number'] =  'Informe o número (ou escreva S/Nº)';
    arrayRequiredMessage['cpf'] =  'Informe o CPF';
    arrayRequiredMessage['cnpj'] =  'Informe o CNPJ';
    arrayRequiredMessage['password'] =  'Crie uma senha para seu cadastro';
    arrayRequiredMessage['street'] =  'Informe o endereço';
    arrayRequiredMessage['acceptPrivacyPolicy'] = 'É necessário aceitar regulamento e termos de privacidade.';

    var defaultRequeiredMessage = 'O campo &eacute; obrigat&oacute;rio';
    var invalidDateMessage = 'Valor inv&aacute;lido';
    var messageError = 'Não completamos seu cadastro. Verifique os campos destacados.'

    var arraySpecialValidationMessage = new Array();
    arraySpecialValidationMessage['password'] = 'Senha e confirmação de senha são obrigatórios';
    arraySpecialValidationMessage['password-confirmation'] = 'Senha e confirmação de senha devem ser iguais';
    arraySpecialValidationMessage['email'] = 'Email e confirmação de email são obrigatórios';
    arraySpecialValidationMessage['cep'] = 'Este CEP não consta na nossa base';
    arraySpecialValidationMessage['email-confirmation'] = 'Email e confirmação de email devem ser iguais';

  
</script>


  

  <div id="divSuccess"></div>

</div>    
</main>
    

    <footer class="main-footer">
        <% include ../partials/footer.ejs %>
    </footer>

</div>

<script type="text/javascript" src="/js/485503.js"></script>
<script type="text/javascript" src="/js/485504.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/carrinho.js"></script>

</body></html>